.mainContainer{
    height:100vh;
    width:100vw;
    display:flex;
    background-color : Black;
    overflow:hidden;
}

.mainTextContainer{
    position:relative;
    left : 10vw;
    top : 20vh;
    display:flex;
    width:90vw;
    height: 30vh;
    color:white;
}

.bigText{
    font-size: 3rem;
    font-weight: 700;
    color:white;
}