.arrowBtn{
    outline: none;
    border: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    cursor: pointer;
    position: fixed;
    top: 45vh;
    left: 15px;
    width: 50px;
    height: 5vh;
    border-radius: 50%;
    background: transparent;
    display:flex;
    align-items: center;
    justify-content: center;
    z-index:10000;
}

.arrowBtn,svg{
    
}