:root{
  --main-color : rgba(255,255,255,100%);
  --main-accent: rgba(252, 248, 11,100%);
  --secondary-color : rgba(0,0,0,100%);
  --button-color: rgb(252, 165, 4,100%); /* Or Use a LInear Gradient*/
  --main-font:'Poppins', sans-serif;
}

a {color:black;}         /* Unvisited link  */
a:visited {color:black;} /* Visited link    */


html {
	scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
   
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}